<div class="jumbotron text-center" >
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>    
    <div ng-controller="contryCtrl"> 
	<div class="panel panel-danger" ng-repeat="item in country"> 
		<div class="panel-heading"> {{item.name}}</div>
			<div class="panel-body"> 
	   			<a ng-href="{{country.link}}">Info About the Country</a>
	   			<span>{{message}}</span>
			</div>
		<div class="panel-footer">
			 
		 
	</div>
</div></div>
    <a ui-sref=".list" class="btn btn-primary">List</a>
    <a ui-sref=".paragraph" class="btn btn-danger">Carousel</a>
</div>
<div ui-view></div>
